<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>View List!</title>
        <link rel='stylesheet' href='/static/bootstrap.min.css'>
        <link rel='stylesheet' href='/static/styles.css'>
    </head>
    <body>
            <!-- navigation bar -->
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/"><img class="logo" src="/static/logo.png" alt="logo"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create-workout">Create Workout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view-todo-list">View Workout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h2>Workout List</h2>
        {% for workout in workout_list %}
            <div>
            <h4>Your new workout:</h4>
            <p>{{workout.type}}</p>
            </div>
        {% endfor %}
    </body>
</html>